.ip__wrapper {
  background-color: #fff;
  border: 1px solid grey;
  padding: 10px 20px;
  border-radius: 8px;
  width: 300px;
  min-height: 100px;
  display: flex;
  gap: 10px;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative
}

button {
  border: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.ip__item {
  display: flex;
  align-items: center;
  background-color: rgb(155, 170, 236);
  border-radius: 14px;
  padding: 8px 14px;
  gap: 5px;
}

.ip__deleteItem {

}

.ip__addItem {
    border-radius: 50%;
    background-color: rgb(7, 7, 102);
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 13px;
    right: 2%;
}

.ip__addItem::before {
    content: '+'
}