.content__wrapper {
  padding: 40px;
}
.settings__form {
  padding: 10px 30px;
}

.settings__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6%;
  margin-bottom: 30px;
}

.form__input-wrapper {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form__input-wrapper-checkbox {
  gap: 20px;
  display: flex;
  align-items: center;
}
input {
  padding: 14px;

  border-radius: 8px;
  border: 1px solid grey;
}
input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.form__input-wrapper--width input {
  width: 350px;
}

.form__btn-wrapper {
  display: flex;
  gap: 20px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  background-color: #fff;
  border-spacing: 0;

  border-radius: 8px;
}
thead tr th {
  border-bottom: 1px solid rgb(133, 131, 131);
  border-collapse: separate;
}

tr {
  border-collapse: separate;
}

table th,
tbody td {
  padding: 20px 15px;
}
tbody {
  padding: 20px;
}

tbody tr:hover {
  background-color: rgb(206, 221, 233);
}

.create-api-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.row {
  display: flex;
  gap: 10%;
  align-items: center;
  margin-bottom: 50px;
}
