body,
html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(184, 202, 211);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid grey;
}


.sidebar {
  border-right: 1px solid grey;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.sideBar .withSideBar {
  width: 240px;
}
.sideBar .withoutSideBar {
  width: 20px;
}

.headerWithSideBar {
  margin-left: 200px;
}

.headerWithoutSideBar {
  margin-left: 80px;
}


.wrapper {
  height: 100%;
}

.wrapperWithSideBar {
  margin-left: 280px;
}

.wrapperWithoutSideBar {
  margin-left: 60px;
}
