body,
html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(184, 202, 211);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid grey;
  padding-left: 260px;
  transform: all 0.2s;
}

.headerWithoutSideBar {
  padding-left: 100px;
}

.wrapper {
  margin-left: 260px;
  transform: all 0.2s;
}



.wrapperWithoutSideBar {
  margin-left: 60px;
}
